footer {
    background: #ffffff;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
    border-top: solid 1px #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}